
@mixin transition($transition) {
	   -moz-transition: $transition;
	     -o-transition: $transition;
	    -ms-transition: $transition;
	-webkit-transition: $transition;
          transition: $transition;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin font-size($sizeValue: 16 ){
   font-size: $sizeValue + px; //fallback for old browsers
   font-size: (0.0625 * $sizeValue) + rem;
 }
