////colors
$color-1: #262262;
$color-2: #BE1E2D;
$color-3: #9B9BA9;
$color-4: #F7F7F1;
$color-5: #BCBCD6;
$color-6: rgba(38,34,97,0.16);
$color-7: #232235;
$color-8: #7D7C99;
$white: #fff;
$black: #000;

////Font
$font-1: 'PT Serif', serif;
$font-2: 'PT Sans', sans-serif;

//base space
$base-spase: 8px;
