/*
			Section: Contact
			Component: Hero
*/
@import "vars";
.hero-contact{
	background-color: $color-1;
	height:400px;
	@media (max-width: 768px) {
    height:auto;

		background-image: linear-gradient(-180deg, #262262 0%, #262262 73%, #FFFFFF 73%, #FFFFFF 100%);
  }
}
.hero-contact__container{
	max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top:40px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  @media (max-width: 768px) {
    display:block;
  }
}
.hero-contact__info-column{
	width: calc(50% - 12px);
	margin-right: 24px;
	margin-top:40px;
	height:100%;
	@media (max-width: 768px) {
    width:100%;
    margin-right: 0;
    margin-top:0;
    margin-bottom:24px;
  }
}
/* Rectangle: */
.hero-contact_form-submit{
	font-family: $font-2;
	background: $color-2;
	box-shadow: 4px 4px 0 0 #262261;
	border-radius: 4px;
	width:100%;
	height:46px;
	color:$white;
	font-size:24px;
	font-weight:700;
	border:none;
	outline:none;

}

.hero-contact__section-name{
	font-family: $font-2;
	color: $color-5;
	font-weight:700;
	font-size:16px;
	line-height:16px;
	text-transform: uppercase;
}
.hero-contact__section-heading{
	font-family: $font-1;
	color: $white;
	font-weight:700;
	font-size:56px;
	line-height:64px;
	margin-top:0;
	margin-bottom:8px;
	@media (max-width: 768px) {
    width:100%;
  }
  @media (max-width: 375px) {
    font-size:40px;
    line-height:48px;
  }

}
.hero-contact__section-subheading,
.hero-contact__info-column p{
	font-family: $font-2;
	color: $color-5;
	font-weight:400;
	font-size:32px;
	line-height:40px;
	margin-bottom:0;
	margin-top:0;
	@media (max-width: 375px) {
    font-size:24px;
    line-height:32px;
  }

}
.hero-contact__form-column{
	width: calc(50% - 12px);
	background: $white;
	box-shadow: 0 2px 41px 0 rgba(0,0,0,0.05);
	padding-top:40px;
	padding-bottom:32px;
	padding-left:40px;
	position:relative;
	padding-right:40px;
	@media (max-width: 768px) {
    width:100%;
  }
  @media (max-width: 375px) {
    padding-left:32px;
		padding-right:32px;
		padding-top:32px;
		padding-bottom:32px;
  }


}
.hero-contact__form-column p{
	margin:0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;

}
.hero-contact_form-label{
	display:block;
	font-family: $font-2;
	color: $color-1;
	font-weight:700;
	font-size:14px;
	line-height:28px;
	margin-bottom:0;
	margin-top:0;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.hero-contact_form-input{
	display:block;
	width:100%;
	font-family: $font-2;
	color: $color-1;
	font-weight:400;
	font-size:16px;
	line-height:24px;
	margin-bottom:32px;
	border:none;
	outline-style:none;
	box-shadow:none;
	border-bottom:2px solid #BCBCD6;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:16px;
	padding-right:16px;
}
.hero-contact_form-input.wpcf7-not-valid{
	border-bottom:2px solid #BE1E2D;
}
.hero-contact_form-input:focus,
.hero-contact_form-textarea:focus
{
	border-bottom:2px solid $color-1;
}
.hero-contact_form-input::-webkit-input-placeholder,
.hero-contact_form-textarea::-webkit-input-placeholder {
  color: $color-5;
}
.hero-contact_form-input::-moz-placeholder,
.hero-contact_form-textarea::-moz-placeholder {
	color: $color-5;
}
.hero-contact_form-input:-ms-input-placeholder,
.hero-contact_form-textarea:-ms-input-placeholder {
	color: $color-5;
}
.hero-contact_form-input:-moz-placeholder,
.hero-contact_form-textarea:-moz-placeholder {
	color: $color-5;
}
.hero-contact_form--required{
	 background-image: url("../images/icon-required.svg");
    background-size: 7px 7px;
    background-position: right 16px center;
    background-repeat: no-repeat;
}

.hero-contact_form-input[type="number"]::-webkit-outer-spin-button,
.hero-contact_form-input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.hero-contact_form-input[type="number"] {
    -moz-appearance: textfield;
}
span.wpcf7-not-valid-tip{
	margin-top: -30px;
	margin-bottom: 16px;
	font-size:11px;
	color: #BE1E2D;
}
div.wpcf7-response-output{
	position:absolute;
	top:12px;
	margin:0;
	padding:0;
	left:50%;
	width:80%;
	transform: translateX(-50%);
	border:0;
	font-family: $font-2;
	color: $color-2;
	font-size:13px;
	font-weight:600;
  text-align: center;

}


.hero-contact_form-textarea{
	height:80px;
	width:100%;
	font-family: $font-2;
	color: $color-1;
	font-weight:400;
	font-size:16px;
	line-height:24px;
	margin-bottom:32px;
	border:none;
	outline-style:none;
	box-shadow:none;
	border-bottom:2px solid #BCBCD6;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:16px;
	padding-right:16px;
}
.hero-contact_form-textarea.wpcf7-not-valid{
	border-bottom:2px solid #BE1E2D;
}
.hero-contact_form-textarea.hero-contact_form--required{
	 background-image: url("../images/icon-required.svg");
    background-size: 7px 7px;
    background-position: right 16px top 8px;
    background-repeat: no-repeat;
}

.contact-main__container{
	max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top:48px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 768px) {
    padding-top:32px;
    padding-bottom:32px;
  }


}
.contact-main__more-info{
	width: calc(50% - 12px);
	position:relative;
	@media (max-width: 768px) {
    width:100%;
  }

}
.contact-main__more-info p{
	font-family: $font-2;
	color: $color-1;
	font-weight:400;
	font-size:24px;
	line-height:32px;
	margin-bottom:32px;
	margin-top:0;
}
.contact-main__more-info p:last-child{
	margin-bottom:0;
}
.contact-main__cards{
	padding-top:80px;
	padding-bottom:80px;
	display:flex;
	@media (max-width: 1024px) {
    display:block;
    padding-top:0;
    padding-bottom:0
  }

}
.contact-main__card{
	width: calc(33.3% - 16px);
	margin-right:24px;
	padding-top:40px;
	padding-bottom:40px;
	padding-left:40px;
	padding-right:40px;
	min-height:280px;
	text-align: center;
	background:#FBFBF9;
		@media (max-width: 1024px) {
    	margin-bottom:24px;
    	width:100%;
  	}
  	@media (max-width: 374px) {
    	padding-top:24px;
			padding-bottom:24px;
			padding-left:24px;
			padding-right:24px;
			min-height:240px;
  	}

	}
.contact-main__card:last-child{
	margin-right:0;
		@media (max-width: 1024px) {
	    	margin-bottom:0;
	  }
}
.contact-main__card-heading{
	font-family: $font-2;
	color: $color-2;
	font-weight:700;
	font-size:16px;
	line-height:16px;
	margin-bottom:16px;
	margin-top:0;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.contact-main__card-subheading{
	font-family: $font-2;
	color: $color-1;
	font-weight:400;
	font-size:20px;
	line-height:28px;
	margin-bottom:28px;
	margin-top:0;
}
.contact-main__card-subheading a{
	color: $color-1;
}
.contact-main__card-subheading:last-child{
	margin-bottom:0;
}
.contact-main__nobr{
	white-space: nowrap;
}
