@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i');
@import "vars";
@import "funtion";
@import "mixin";
@import "class";
@import "flexbox";
@import "contact";

html {
  margin: 0;
  padding: 0;
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-1;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.pad {
  padding: 0 24px;
}

.accessibility-hide {
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
}

.relative {
  position: relative;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  &::-ms-expand {
    display: none;
  }
}
/// base 12 col

.delete-after-before{
  &:before,&:after{
    display: none !important;
  }
}
.row {
  @include flexbox();
  @include justify-content(space-between);
  @include flex-wrap(wrap);

  .col-6 {
    width: calc(50% - 12px);
  }
  @media (max-width: 400px) {
    display: block;

    .col-6 {
      width: 100%;
    }
  }
}

.cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.m-r-8 {
  margin-right: 8px;
}

.m-l-8 {
  margin-left: 8px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-b-8 {
  margin-bottom: 8px;
}

.p-r-8 {
  padding-right: 8px;
}

.p-l-8 {
  padding-left: 8px;
}

.p-t-8 {
  padding-top: 8px;
}

.p-b-8 {
  padding-bottom: 8px;
}

.m-r-32 {
  margin-right: 32px;
}

.m-l-32 {
  margin-left: 32px;
}

.m-t-32 {
  margin-top: 32px;
}

.m-b-32 {
  margin-bottom: 32px;
}

.p-r-32 {
  padding-right: 32px;
}

.p-l-32 {
  padding-left: 32px;
}

.p-t-32 {
  padding-top: 32px;
}

.p-b-32 {
  padding-bottom: 32px;
}

.main-container {
  position: relative;
  @include flexbox();
  @media (max-width: 767px) {
    display: block;
  }
}

.section-main,
.section-top {
  width: 50%;
  @media (max-width: 767px) {
    width: 100%;
  }
}

.section-top {
  background-image: url("../images/gr8rates4u-bg.png");
  background-size: cover;
  background-position: center;
  position: fixed;
  height: 100%;
  @media (min-width: 768px) {
    @include flexbox();
    @include justify-content(center);
    @include align-content(center);

    .menu-main {
      display: none;
    }
  }
  @media (max-width: 767px) {
    position: static;

    .menu-main__toggle {
      z-index: 999999;
    }

    .menu-main {
      top: 30px;
      z-index: 9999;

      span {
        background-color: $color-5;
      }

      .menu-main__list {
        top: -15px;
      }
    }
  }
}

.hero {
  max-width: 600px;
  @extend .pad;
  @media (max-width: 1070px) {
    max-width: 448px;
  }
  @media (max-width: 767px) {
    max-width: 325px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 36px;
  }
  @media (min-width: 768px) {
    @include flexbox();
    @include justify-content(center);
    @include align-content(center);
  }

  .menu-language {
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.hero__container {
  width: 100%;
  @media (min-width: 768px) {
    @include flexbox();
    @include justify-content(center);
    @include align-content(center);
    @include flex-direction(column);
  }
}

.hero__logoLink {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 203px;
    @media (max-width: 1070px) {
      width: 140px;
    }
    @media (max-width: 767px) {
      width: 105px;
    }
  }
}

.hero__heading {
  color: $white;
  font-family: $font-1;
  font-size: 72px;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
  margin: 70px 0 0;
  @media (max-width: 1070px) {
    font-size: 50px;
    line-height: 60px;
    margin-top: 50px;
  }
  @media (max-width: 767px) {
    font-size: 36px;
    line-height: 40px;
    margin-top: 12px;
  }
}

.menu-main {
  // display: none;
}

.menu-language {
  position: absolute;
  top: 40px;
  right: 0;
  @media (max-width: 767px) {
    top: 30px;
  }
}

.menu-language__list {
  @extend .reset-list;
  @include flexbox();
  position: relative;
  padding-right: 24px;

  &:before {
    content: '';
    position: absolute;
    display: block;
    height: 18px;
    width: 2px;
    background-color: $color-3;
    top: 5px;
    left: 48px;
    @media (max-width: 767px) {
      left: 48px;
      height: 12px;
    }
  }
}

.menu-language__item {
  width: 36px;
  text-align: center;
  margin-left: 11px;
}

.menu-language__link {
  font-family: $font-2;
  color: $color-1;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 28px;
  @include transition(color 0.7s);
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 22px;
    color: $color-3;
  }

  &.active,
  &:hover {
    color: $color-3;
    font-size: 18px;
    @media (max-width: 767px) {
      font-size: 18px;
      color: $white;
    }
  }
}

.section-main {
  width: 50%;
  margin-left: auto;
  @media (max-width: 767px) {
    width: 100%;
    margin-left: 0;
  }

  .menu-language {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.form-house-details {
  margin-left: auto;
  margin-right: auto;
  max-width: 518px;
  @extend .pad;
  position: relative;
  padding-top: 140px;
  @media (max-width: 767px) {
    padding-top: 34px;
  }
}

.form-house-details__title {
  color: $color-2;
  font-family: $font-1;
  font-size: 24px;
  font-weight: bold;
  line-height: 31px;
  text-align: center;
  margin: 0 0 32px;

  &.big {
    font-size: 42px;
    line-height: 55px;
  }

  img {
    display: block;
    margin: 0 auto 10px;
  }

  small {
    color: $color-1;
    font-family: $font-2;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    display: block;
    max-width: 329px;
    margin: 0 auto;
  }
}

.input-group {
  margin-bottom: 16px;
  position: relative;

  .zipCodeResult {
    list-style: none;
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
    background-color: $white;
    max-height: 210px;
    overflow-y: scroll;
  }

  .zipCodeResultItem {
    padding: 12px 24px;
    border: 1px solid $color-1;
    border-top: 0;
    font-family: $font-1;
    font-size: 14px;
    color: $color-1;

    &:hover {
      color: $color-2;
      cursor: pointer;
    }

    &:last-child {
      margin-bottom: 10px;
    }
  }

  p {
    display: none;
  }

  &.error {
    margin-bottom: 32px;

    input:not([type=checkbox]),
    input:not([type=radio]),
    select,
    textarea {
      box-shadow: inset 0 -2px 0 0 $color-2;
    }

    p {
      position: absolute;
      bottom: -32px;
      font-size: 12px;
      font-family: $font-2;
      color: $color-2;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
    }
  }

  label {
    display: block;
  }

  &.required {
    position: relative;

    &:before {
      content: "*";
      color: $color-1;
      font-family: $font-2;
      font-size: 24px;
      position: absolute;
      bottom: 4px;
      right: 16px;
    }
  }

  input:not([type=checkbox]),
  input:not([type=radio]),
  select,
  textarea {
    @extend .appearance;
    display: block;
    width: 100%;
    height: 46px;
    padding: 0 16px;
    color: $color-1;
    font-family: $font-2;
    font-size: 16px;
    line-height: 28px;
    border: 0;
    box-shadow: inset 0 -2px 0 0 $color-5;

    &[type=checkbox],
    &[type=radio] {
      width: auto;
    }

    &:focus {
      box-shadow: inset 0 -2px 0 0 $color-1;
    }
  }

  select {
    background-image: url("../images/arrow-down-sign-to-navigate.png");
    background-size: auto 9px;
    background-position: calc(100% - 16px) 21px;
    background-repeat: no-repeat;

    &:selected {
      color: red;
    }

    option:checked {
      color: $color-2;
    }
  }

  label {
    color: $color-1;
    font-family: $font-2;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 22px;
    text-transform: uppercase;

    &.Custom-checkbox {
      font-size: 16px;
      text-transform: capitalize;
      line-height: 26px;
      font-weight: 400;

      & > span:nth-child(1) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.btn {
  @extend .appearance;
  border-radius: 4px;
  background-color: $color-2;
  box-shadow: 4px 4px 0 0 $color-1;
  color: $white;
  font-family: $font-2;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 31px;
  text-align: center;
  display: block;
  width: 100%;
  height: 46px;
  line-height: 46px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $color-1;
    box-shadow: 4px 4px 0 0 $color-2;
  }
}

.Custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $white;
  border-radius: 4px;
  border: 2px solid $color-5;
}

.Custom-checkbox:hover input~.checkmark {
  background-color: $color-5;
}

.Custom-checkbox input:checked~.checkmark {
  background-color: $color-1;
  border: 2px solid $color-1;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.Custom-checkbox input:checked~.checkmark:after {
  display: block;
}

.Custom-checkbox .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $color-5;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $color-5;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: $color-5;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $color-5;
}

.form-footer-main-menu {
  padding-top: 64px;
  padding-bottom: 24px;
}

.form-footer-main__list {
  margin: 0 auto;
  @extend .reset-list;
  @include flexbox();
  @include justify-content(space-between);
  max-width: 350px;
  li{
    @media (max-width: 500px) {
      padding: 16px 6px;
    }
    a{
      color: $color-1;
      font-family: $font-2;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      white-space: nowrap;
      @extend .delete-after-before;
      &:hover {
        color: $color-2;
      }
    }
  }

}

.form-footer-main__link {
  color: $color-1;
  font-family: $font-2;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: $color-2;
  }
}

.disclaimer-container {
  padding-bottom: 70px;

  .disclaimer-btn {
    @extend .appearance;
    color: #BCBCD6;
    font-family: "PT Sans";
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: underline;
    margin: 0 auto;
    display: block;
    cursor: pointer;

    &:hover {
      color: $color-2;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3215686274509804);
  display: none;

  &.show {
    display: block;
  }
}

.modal-contant {
  background-color: $white;
  padding: 41px 56px;
  border-radius: 4px;
  box-shadow: 25px 23px 124px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 24px;
  overflow-y: auto;
  box-sizing: border-box;
  @include transform (translate(-50%, -50%));
  @media (max-width: 767px) {
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0;
    border-radius: 4px;
  }
}

.modal-close {
  @extend .appearance;
  width: 15px;
  height: 15px;
  background-image: url("../images/close.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.modal-title {
  color: $color-1;
  font-family: $font-2;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 24px;
  margin-top: 0;
}

.modal-body {
  color: $color-1;
  font-family: $font-2;
  font-size: 14px;
  line-height: 20px;
}

.steps-form-container {
  min-height: 57vh;
}

.steps-form-item {
  display: none;

  &.active {
    display: block;
  }
}

.company-list {
  @extend .reset-list;
  width: 100%;
}

.company-list-item {
  @include flexbox();
  line-height: 38px;
  box-shadow: inset 0 -2px 0 0 $color-5;
  margin-bottom: 8px;

  & > span {
    display: block;

    &:first-child {
      margin-right: auto;
      color: $color-1;
      font-family: $font-2;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:nth-child(2) {
      font-weight: normal;
      margin-right: 10px;
      font-family: $font-2;
      font-size: 14px;
      color: $color-1;
    }
  }

  .Custom-checkbox {
    position: relative;
    top: -10px;
    right: -10px;

    .checkmark {
      // margin-right: 0;
    }
  }
}

.general-p {
  font-weight: normal;
  font-family: $font-2;
  font-size: 16px;
  margin-top: 0;
  color: $color-1;
}

#loading,
#thanks-you {
  height: 50vh;
  position: relative;

  .center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    width: 100%;

    small {
      max-width: 355px;
    }
  }
}

.body {
  padding-top: 176px;
  @media (max-width: 767px) {
    padding-top: 92px;
  }
}

.container {
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  max-width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  background-color: $white;
  width: 100%;
  padding: 32px 0;
  @include transition(background-color 1s);

  &.in {
    background-color: rgba(255, 255, 255, 0.9);
  }
  @media(max-width: 767px) {
    padding: 16px 0;
  }

  .container {
    position: relative;
    @include flexbox();
    @media(max-width: 767px) {
      display: block;
    }
  }
}

.menu-main__hamburguer {
  pointer-events: none;
}

.menu-main {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
  @media (max-width: 767px) {
    position: absolute;
    left: 24px;
    width: calc(100% - 24px);

    &.open {
      .menu-main__list {
        height: 100vh;
        padding: 20px;
      }

      .menu-main__toggle {
        position: relative;

        span {
          @include transition(all 0.6s);

          &:not(:nth-child(1)) {
            &:nth-child(2),
            &:nth-child(4) {
              transform-origin: center;
              @include transform(rotate(45deg));
            }

            &:nth-child(4) {
              @include transform(rotate(-45deg) translate(1px, -1px));
            }

            &:nth-child(3) {
              width: 0;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.section-top {
  .menu-main__toggle {
    span {
      background-color: $color-5 !important;
    }
  }

  .menu-main {
    &.open {
      .menu-main__list {
        padding-top: 48px;
      }
    }
  }
}

.main-logo {
  img {
    width: 134px;
    height: 108px;
    @media(max-width: 767px) {
      width: 72px;
      height: 59px;
      margin: 0 auto;
      display: block;
    }
  }
}

.menu-main__toggle {
  @extend .appearance;
  cursor: pointer;
  width: 27px;
  height: 27px;
  @media (min-width: 768px) {
    display: none;
  }

  span {
    cursor: pointer;
    pointer-events: none;

    &:not(:nth-child(1)) {
      display: block;
      height: 1px;
      width: 100%;
      background-color: $color-1;

      &:nth-child(3) {
        margin: 6px 0;
        width: 80%;
      }
    }
  }

  &:hover {
    span {
      &:not(:nth-child(1)) {
        background-color: $color-2;
      }
    }
  }
}

.menu-main__list {
  @include flexbox();
  @extend .reset-list;
  @media (max-width: 767px) {
    position: absolute;
    left: -24px;
    top: 52px;
    width: calc(100% + 24px);
    background-color: $white;
    display: block;
    height: 0;
    overflow: hidden;
    padding: 0 20px;
    @include transition(all 1s);
  }
}

.menu-item,
.menu-main__item {
  padding: 0 11px;

  &:last-child {
    padding-right: 0;
  }
  @media (max-width: 767px) {
    padding: 16px 11px;
  }

  .menu-main__link,
  a {
    color: $color-5;
    text-decoration: none;
    font-family: $font-2;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;

    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background-color: transparent;
      margin-top: 1px;
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &.active,
  &.current-menu-item,
  &:hover {
    .menu-main__link,
    a {
      color: $color-1;

      &:after {
        background-color: $color-2;
      }
    }
  }
}

.menu-main__link {
  color: $color-5;
  text-decoration: none;
  font-family: $font-2;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  &:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: transparent;
    margin-top: 1px;
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.main-header__column-1 {
  margin-right: auto;
}

.article-content {
  font-family: $font-2;
  color: $color-1;
  font-size: 18px;

  a {
    color: $color-2;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $color-7;
    }
  }
}

.hero-blog {
  background-color: $color-1;

  .container-fluid {
    @include flexbox();
    padding-right: 0;
    @media (max-width: 767px) {
      @include flex-wrap(wrap);
      padding-left: 0;
    }
  }
}

.hero-blog__article-info-column {
  @include flex(0 0 40%);
  min-height: 505px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: calc(((100% - 1200px) / 2) + 12px);
  @media (max-width: 1200px) {
    padding-left: 0;
  }
  @media (max-width: 767px) {
    @include flex(0 0 100%);
    padding: 24px;
    min-height: 300px;
    @include order(2);
  }
}

.hero-blog__article-photo-column {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 505px;
  position: relative;
  @include flex(1);
  @media (max-width: 767px) {
    @include flex(0 0 100%);
    min-height: 300px;
    height: 300px;
    @include order(1);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(3.14deg, #15132A 0%, rgba(255,255,255,0) 100%);
  }
}

.hero-blog__article-info {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
  padding-right: 24px;
}

.hero-blog__article-info-category {
  color: $color-5;
  font-family: $font-2;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  ul {
    @extend .reset-list;

    li {
      a {
        color: $color-5;
        font-family: $font-2;
        font-size: 20px;
        line-height: 26px;
        text-decoration: none;
        text-transform: uppercase;
        pointer-events: none;
      }
    }
  }
}

.hero-blog__article-info-heading {
  color: $white;
  font-family: $font-1;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  margin: 0 0 8px;
  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 32px;
  }
}

.hero-blog__article-info-subheading {
  color: $color-5;
  font-family: $font-2;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 16px;
  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 24px;
  }

  * {
    color: $color-5;
    font-family: $font-2;
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 16px;
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.hero-blog__article-info-link {
  text-decoration: none;
  border-radius: 4px;
  background-color: $color-2;
  box-shadow: 4px 4px 0 0 $color-1;
  padding: 0 20px;
  height: 31px;
  line-height: 31px;
  color: $white;
  font-family: $font-2;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
}

.article-details-container {
  @include flexbox();
  padding-top: 38px;
  @media (max-width: 767px) {
    display: block;
  }
}

.article-container-content {
  width: calc(75% - 12px);
  margin-right: 12px;
  @media (max-width: 1100px) {
    width: calc(65% - 12px);
  }
  @media (max-width: 767px) {
    width: 100%;
    margin-right: 0px;
  }
}

.article-container-last-post {
  width: calc(25% - 12px);
  margin-left: 12px;
  @media (max-width: 1100px) {
    width: calc(35% - 12px);
  }
  @media (max-width: 767px) {
    margin-left: 0px;
    width: 100%;
  }
  .main-footer__article-heading {
    color: $color-7;
    text-decoration: none;
    font-family: $font-2;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;

    &:hover {
      color: $color-2;
    }
  }
  .main-footer__heading{
    color: $color-1;
    position: relative;
    margin-bottom: 24px;
    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 66px;
      height: 2px;
      background-color: $color-2;
      bottom: -3px;
    }
  }
}

.hero-blog__article-intro {
  position: absolute;
  bottom: 40px;
  left: calc(((100% - 1200px) / 2) + 24px);
  width: 50%;
  z-index: 99;
  @media (max-width: 1200px) {
    left: 24px;
  }
  @media (max-width: 767px) {
    width: 85%;
  }
  .hero-blog__article-info-category {
    ul {
      @extend .reset-list;

      li {
        a {
          color: $color-5;
          font-family: $font-2;
          font-size: 20px;
          line-height: 26px;
          text-decoration: none;
          text-transform: capitalize;
          pointer-events: none;
        }
      }
    }
  }
  .article-card__info-date{
    color: $color-5;
    font-family: $font-2;
    font-size: 20px;
    line-height: 26px;
  }
  .hero-blog__article-info-heading{
    color: $white;
    font-family: $font-1;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    @media (max-width: 767px) {
      font-size: 28px;
      line-height: 34px;
    }
  }
}

.main-content__container {
  @include flexbox();
  @include flex-wrap(wrap);
  margin-top: 44px;
  color: $color-1;

  &.container {
    padding-left: 24px;
    padding-right: 24px;
  }

  &.container-post {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.article-card {
  margin: 12px;
  width: calc(33.33% - 24px);
  background-color: $color-4;

  &:nth-child(1),
  &:nth-child(2) {
    width: calc(50% - 24px);
    @media (max-width: 767px) {
      width: calc(100% - 24px);
    }
  }
  @media (max-width: 920px) {
    width: calc(50% - 24px);
  }
  @media (max-width: 767px) {
    width: calc(100% - 24px);
  }
}

.article-card--big {
  width: calc(50% - 24px);
  @media (max-width: 767px) {
    width: calc(100% - 24px);
  }
}

.article-card__photo-container {
  height: 275px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.article-card__info-container {
  padding: 24px;
}

.article-card__info-date {
  color: $color-2;
  font-family: $font-2;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: -5px;
}

.article-card__info-heading {
  color: $color-1;
  font-family: $font-1;
  font-size: 24px;
  font-weight: bold;
  line-height: 31px;
  margin: 0 0 5px;
}

.article-card__info-subheading {
  color: $color-1;
  font-family: $font-2;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 16px;
}

.article-card__info-link {
  color: $color-1;
  font-family: $font-2;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;

  &:after {
    content: "";
    display: block;
    height: 2px;
    background-color: $color-2;
    margin-top: 1px;
    max-width: 100%;
  }

  &:hover {
    color: $color-2;

    &:after {
      background-color: $color-1;
    }
  }
}
.navigation.pagination,.nav-links{
  @include flexbox();
  width: 100%;
  @media (max-width: 1023px) {
    @include justify-content(center);
  }
}
.blog-pagination {
  @include flexbox();
  margin-top: 36px;

  h2{
    display: none;
  }
  .page-numbers{
    text-decoration: none;
    display: inline-block;
    width: 34px;
    height: 34px;
    background-color: $color-4;
    text-align: center;
    line-height: 34px;
    color: $color-1;
    font-family: $font-2;
    font-size: 16px;
    font-weight: bold;
    border-radius: 34px;
    &:not(.next),&:not(.prev){
      margin: 0 5px;
    }
    &.blog-pagination__page-link--active,
    &.current,
    &:hover {
      background-color: $color-1;
      color: $white;
    }
    &.next,&.prev{
      height: 31px;
      width: auto;
      line-height: 31px;
      border-radius: 4px;
      background-color: $color-2;
      padding: 0 24px;
      text-decoration: none;
      color: $white;
      font-family: $font-2;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      &.next{
          margin-left: auto;
      }
      &.prev{
        margin-right: auto;
      }
      &:hover {
        background-color: $color-1;
      }
      @media (max-width: 1023px) {
        display: none;
      }
    }
  }



}

.blog-pagination__new-posts,
.blog-pagination__old-posts {
  height: 31px;
  line-height: 31px;
  border-radius: 4px;
  background-color: $color-2;
  padding: 0 24px;
  text-decoration: none;
  color: $white;
  font-family: $font-2;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  &:hover {
    background-color: $color-1;
  }
  @media (max-width: 1023px) {
    display: none;
  }
}

.blog-pagination__page-container {
  @extend .reset-list;
  @include flexbox();
  margin: 0 auto;
}

.blog-pagination__page-item {
  margin: 0 5px;
}

.blog-pagination__page-link {
  text-decoration: none;
  display: inline-block;
  width: 34px;
  height: 34px;
  background-color: $color-4;
  text-align: center;
  line-height: 34px;
  color: $color-1;
  font-family: $font-2;
  font-size: 16px;
  font-weight: bold;
  border-radius: 34px;

  &.blog-pagination__page-link--active,
  &:hover {
    background-color: $color-1;
    color: $white;
  }
}

.main-footer {
  background-color: $color-7;
  margin-top: 40px;
  padding: 46px 0;
}
.contact-map{
  margin-bottom: -40px;
}
.main-footer__heading {
  color: $white;
  font-family: $font-2;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.main-footer__container {
  @include flexbox();
  padding-left: 12px;
  padding-right: 12px;
  @media (max-width: 960px) {
    @include flex-wrap(wrap);
  }
}

.main-footer__p {
  color: $color-8;
  font-family: $font-2;
  font-size: 16px;
  line-height: 23px;
}

.main-footer__column-1 {
  @include flex(0 0 calc(30% - 24px));
  margin-left: 12px;
  margin-right: 12px;
  @media (max-width: 960px) {
    @include flex(0 0 calc(50% - 24px));
    margin-bottom: 24px;
  }
  @media (max-width: 660px) {
    @include flex(0 0 calc(100% - 24px));
  }
}

.main-footer__column-2 {
  @include flex(0 0 15%);
  margin-left: 12px;
  margin-right: 12px;
  @media (max-width: 960px) {
    @include flex(0 0 calc(50% - 24px));
    margin-bottom: 24px;
  }
  @media (max-width: 660px) {
    @include flex(0 0 calc(100% - 24px));
  }
}

.main-footer__column-3 {
  @include flex(1);
  margin-left: 12px;
  margin-right: 12px;
  @media (max-width: 960px) {
    @include flex(0 0 calc(50% - 24px));
    margin-bottom: 24px;
  }
  @media (max-width: 660px) {
    @include flex(0 0 calc(100% - 24px));
  }
}

.main-footer__column-4 {
  @include flex(1);
  margin-left: 12px;
  margin-right: 12px;
  @media (max-width: 960px) {
    @include flex(0 0 calc(50% - 24px));
    margin-bottom: 24px;
  }
  @media (max-width: 660px) {
    @include flex(0 0 calc(100% - 24px));
  }
}

.main-footer__nav-container,#menu-footer {
  @extend .reset-list;
  li {
    margin: 8px 0;
    padding: 0 0px;
    a{
      &:before,&:after {
        display: none;
      }
      color: $color-8;
      font-family: $font-2;
      font-size: 16px;
      line-height: 16px;
      text-decoration: none;
      &:hover {
        color: $white;
      }
    }
  }
}

.main-footer__nav-item {
  margin: 8px 0;
}

.main-footer__nav-link {
  color: $color-8;
  font-family: $font-2;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}

.main-footer__article {
  @include flexbox();
  margin-bottom: 12px;
}

.main-footer__article-photo {
  @include flex(0 0 100px);
  height: 56px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.main-footer__article-info {
  @include flex(1);
}

.main-footer__article-date {
  text-transform: uppercase;
  color: $color-5;
  font-family: $font-2;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  margin-top: -4px;
  display: block;
}

.main-footer__article-heading {
  color: $white;
  font-family: $font-2;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin: 0;
  max-width: 100%;
  text-decoration: none;
  &:hover{
    color: $color-5;
  }
}

.main-footer__social {
  h3{
    clear: both;
    width: 100%;
  }
  .widget-content{
    display: inline-block;
    &:first-child{
      display: block;
    }
    &:last-child{
      a{
        margin-right: 0px;
      }
    }
    a{
      text-decoration:none;
      margin-right: 16px;
    }
    img{
      width: 24px;
      height: 24px;
    }
  }
}

.main-footer__social-link {
  text-decoration: none;
}

.main-content {
  font-size: 18px;

  &__heading {
    font-family: $font-1;
    font-size: 1.33em;
    line-height: 2em;
    border-bottom: 2px solid $color-2;
  }

  &__paragraph {
    font-family: $font-2;
    line-height: 1.5;
    margin: 0 0 1.5em;
  }
}

.masthead {
  @extend .hero-blog;

  &__content {
    @extend .hero-blog__article-info-column;
    @include flex(0 0 60%);

    &__inner {
      @extend .hero-blog__article-info;
    }
    @media (max-width: 1200px) {
      padding-left: 0;
    }
    @media (max-width: 767px) {
      @include flex(0 0 100%);
      padding: 24px;
      min-height: 300px;
      @include order(2);
    }
  }

  &__title {
    @extend .hero-blog__article-info-heading;

    &--small {
      @extend .hero-blog__article-info-category;
    }
  }

  &__description {
    @extend .hero-blog__article-info-subheading;
  }

  &__image {
    @extend .hero-blog__article-photo-column;
    @media (max-width: 767px) {
      @include flex(0 0 100%);
      min-height: 300px;
      height: 300px;
      @include order(1);
    }
  }
}
