<%- include('./partials/header') -%>

    <div class="body">

        <!-- About Us > -->

        <header class="main-header">
            <div class="container">
                <!--  .main-header__column-1 * START  -->
                <div class="main-header__column-1">
                    <div class="main-logo">
                        <a href="" class="main-logo__link">
                            <img src="images/logo.png" alt="Gr8Rates4U" title="Gr8Rates4U" class="main-logo__image">
                        </a>
                    </div>
                </div>
                <!--  .main-header__column-1 * END  -->

                <!--  .main-header__column-2 * START  -->
                <div class="main-header__column-2">
                    <nav class="menu-main">
                        <!-- Hidden on desktop and visible on mobile * START-->
                        <!--Always hidden-->
                        <h2 class="screen-reader-text accessibility-hide">Menu</h2>
                        <!--Always hidden-->

                        <button class="menu-main__toggle">
						<div class="menu-main__hamburguer">
							<span class="accessibility-hide">btn menu</span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</button>
                        <!-- Hidden on desktop and visible on mobile * END-->

                        <ul class="menu-main__list" tabindex="-1">
                            <li class="menu-main__item active"><a class="menu-main__link" href="#">Home</a></li>
                            <li class="menu-main__item"><a class="menu-main__link" href="#">Blog</a></li>
                            <li class="menu-main__item"><a class="menu-main__link" href="#">About</a></li>
                            <li class="menu-main__item"><a class="menu-main__link" href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <!--  .main-header__column-2 * END  -->
            </div>


        </header>




        <section class="masthead">

            <div class="container-fluid">

                <div class="masthead__content">

                    <div class="masthead__content__inner">

                        <small class="masthead__title--small">About Us</small>
                        <h1 class="masthead__title">Who we Are</h1>
                        <p class="masthead__description"><b>“Trusted Personal and Business insurance services throughout the entire state of Florida”</b></p>
                        <p class="masthead__description">Preferred Link is one of South Florida’s leading Independent Insurance Agencies.</p>

                    </div>

                </div>

                <div class="masthead__image" style="background-image:url(images/about-us.jpg)"></div>

            </div>

        </section>




        <section class="main-content">

            <div class="container main-content__container">

                <h2 class="main-content__heading">Title</h2>
                <p class="main-content__paragraph">If you’re looking for the latest in wireless headphones for your enjoyment and private listening, whether to TV, stereo, home entertainment such as theater, iTunes or Ipod, you might do well to look at the highly recommended Sennheiser
                    RS 130 wireless headphones.</p>
                <p class="main-content__paragraph">These state of the art wireless headphones provide an advanced communication via FM radio frequency. The result is clear sound with no background noise or static and nearly 500 feet of free movement. The headphones have terrific surround
                    sound effects and weigh less than ten ounces. They are ergonomically designed to provide hours of comfort.</p>
                <p class="main-content__paragraph">The features of the Sennheiser RS130 wireless headphones include a base station for the headphones that is attractive and stores the headphones whre they are not in use and also charges the batteries. Batteries are NiMH type, and their
                    single charge keeps them going for 22 hours of your listening enjoyment.</p>

            </div>

        </section>





        <footer class="main-footer">

            <div class="container main-footer__container">

                <div class="main-footer__column-1">
                    <img src="images/logo-2.png" alt="Gr8Rates4U.com" class="main-footer__logo">
                    <p class="main-footer__p">14050 NW 14th St. Suite #100 Sunrise, FL 33323</p>
                    <p class="main-footer__p">1 (866) 711-9711</p>
                </div>

                <div class="main-footer__column-2">

                    <h3 class="main-footer__heading">Useful Links</h3>

                    <nav class="main-footer__nav">
                        <ul class="main-footer__nav-container">
                            <li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">Home</a></li>
                            <li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">Blog</a></li>
                            <li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">About</a></li>
                            <li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">Contact</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="main-footer__column-3">

                    <h3 class="main-footer__heading">Latest posts</h3>
                    <div class="main-footer__article-container">

                        <article class="main-footer__article">
                            <div class="main-footer__article-photo" style="background-image:url(images/houses.jpg)"></div>
                            <div class="main-footer__article-info">
                                <small class="main-footer__article-date">March 26, 2018</small>
                                <h1 class="main-footer__article-heading">How to Choose the Right Homeowners Insurance</h1>
                            </div>
                        </article>

                        <article class="main-footer__article">
                            <div class="main-footer__article-photo" style="background-image:url(images/houses.jpg)"></div>
                            <div class="main-footer__article-info">
                                <small class="main-footer__article-date">March 26, 2018</small>
                                <h1 class="main-footer__article-heading">How to Choose the Right Homeowners Insurance</h1>
                            </div>

                        </article>


                        <article class="main-footer__article">
                            <div class="main-footer__article-photo" style="background-image:url(images/houses.jpg)"></div>
                            <div class="main-footer__article-info">
                                <small class="main-footer__article-date">March 26, 2018</small>
                                <h1 class="main-footer__article-heading">How to Choose the Right Homeowners Insurance</h1>
                            </div>
                        </article>



                    </div>

                </div>

                <div class="main-footer__column-4">
                    <h3 class="main-footer__heading">Latest posts</h3>
                    <div class="main-footer__social">
                        <a href="#" class="main-footer__social-link">
                            <img src="images/in.png" alt="Instagram" title="Instagram" class="main-footer__social-icon">
                        </a>
                        <a href="#" class="main-footer__social-link">
                            <img src="images/tw.png" alt="Twitter" title="Twitter" class="main-footer__social-icon">
                        </a>
                        <a href="#" class="main-footer__social-link">
                            <img src="images/fb.png" alt="Facebook" title="Facebook" class="main-footer__social-icon">
                        </a>
                        <a href="#" class="main-footer__social-link">
                            <img src="images/ink.png" alt="LinkedIN" title="LinkedIN" class="main-footer__social-icon">
                        </a>
                    </div>
                </div>

            </div>

        </footer>
        <!-- < About Us -->

    </div>

    <%- include('./partials/footer') -%>