<%- include('./partials/header') -%>

<div class="body">

	<!--
				Blog
	-->

	<header class="main-header">
		<div class="container">
			<!--  .main-header__column-1 * START  -->
			<div class="main-header__column-1">
				<div class="main-logo">
					<a href="" class="main-logo__link">
						<img src="images/logo.png" alt="Gr8Rates4U" title="Gr8Rates4U" class="main-logo__image">
					</a>
				</div>
			</div>
			<!--  .main-header__column-1 * END  -->

			<!--  .main-header__column-2 * START  -->
			<div class="main-header__column-2">
				<nav class="menu-main">
					<!-- Hidden on desktop and visible on mobile * START-->
					<!--Always hidden--><h2 class="screen-reader-text accessibility-hide">Menu</h2><!--Always hidden-->

					<button class="menu-main__toggle">
						<div class="menu-main__hamburguer">
							<span class="accessibility-hide">btn menu</span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</button>
					<!-- Hidden on desktop and visible on mobile * END-->

					<ul class="menu-main__list" tabindex="-1">
				    <li class="menu-main__item active"><a class="menu-main__link" href="#">Home</a></li>
				    <li class="menu-main__item"><a class="menu-main__link" href="#">Blog</a></li>
				    <li class="menu-main__item"><a class="menu-main__link" href="#">About</a></li>
				    <li class="menu-main__item"><a class="menu-main__link" href="#">Contact</a></li>
				  </ul>
				</nav>
			</div>
			<!--  .main-header__column-2 * END  -->
		</div>


	</header>

	<section class="hero-contact">
		<div class="hero-contact__container">
			
			<!--  .hero-contact__info-column * START -->
			<div class="hero-contact__info-column">
				<small class="hero-contact__section-name">Contact Us</small>
				<h1 class="hero-contact__section-heading">Get in Touch</h1>
				<p class="hero-contact__section-subheading">Velit laoreet id donec ultrices tincidunt arcu. Sed viverra tellus in hac habitasse platea dictumst.</p>
			</div>
			<!--  .hero-contact__info-column * END -->

			<!--  .hero-contact__form-column * START -->
			<div class="hero-contact__form-column">
				<form action="" class="hero-contact_form">
					
					<label class="hero-contact_form-label" for="hc-name">Name</label>
					<input class="hero-contact_form-input hero-contact_form--required" id="hc-name" type="text" placeholder="Like John...">
					<label class="hero-contact_form-label" for="hc-email">Email</label>
					<input class="hero-contact_form-input hero-contact_form--required" id="hc-email" type="email" placeholder="Your Email...">
					
					<label class="hero-contact_form-label" for="hc-phone">Phone</label>
					<input class="hero-contact_form-input hero-contact_form--required" id="hc-phone" type="number" placeholder="Phone Number...">
					
					<label class="hero-contact_form-label" for="hc-message">Message</label>
					<textarea class="hero-contact_form-textarea hero-contact_form--required" id="hc-message" placeholder="Your Message..."></textarea>
					
					<input class="hero-contact_form-submit" type="submit" name="submit" value="Send">
				</form>
			</div>
			<!-- .hero-contact__form-column * END -->
			
		</div>
	
	</section>

	<section class="contact-main">
		<div class="contact-main__container">
			<div class="contact-main__more-info">
				<p>At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum
deleniti  corrupti, quos dolores etdeserunt.</p>
				<p>Usto odio dignissimos ducimus, qui blanditiis praesentium</p>
			</div>
			
		</div>
		<div class="contact-main__container">
			<div class="contact-main__cards">
				<div class="contact-main__card">
					<img src="images/icon-contact-1@2x.png" alt="Main Office" title="Main Office" class="contact-main__card-icon" width="96">
					<h3 class="contact-main__card-heading">Main Office</h3>
					<p class="contact-main__card-subheading">14050 NW 14th St. Suite #100
<span class="contact-main__nobr">Sunrise, FL 33323</span></p>
				</div>
				<div class="contact-main__card">
					<img src="images/icon-contact-2@2x.png" alt="Call Us At" title="Call Us At" class="contact-main__card-icon" width="96">
					<h3 class="contact-main__card-heading">Call Us At</h3>
					<p class="contact-main__card-subheading">(866) 711-9711</p>
				</div>
				<div class="contact-main__card">
					<img src="images/icon-contact-3@2x.png" alt="Main Office" title="Main Office" class="contact-main__card-icon" width="96">
					<h3 class="contact-main__card-heading">Email Address</h3>
					<p class="contact-main__card-subheading">
						<a href="mailto:info@preferredlinkins.com">info@preferredlinkins.com</a>
					</p>
				</div>
			</div>
		</div>
		
	</section>

	<footer class="main-footer">

		<div class="container main-footer__container">

			<div class="main-footer__column-1">
				<img src="images/logo-2.png" alt="Gr8Rates4U.com" class="main-footer__logo">
				<p class="main-footer__p">14050 NW 14th St. Suite #100 Sunrise, FL 33323</p>
				<p class="main-footer__p">1 (866) 711-9711</p>
			</div>

			<div class="main-footer__column-2">

				<h3 class="main-footer__heading">Useful Links</h3>

				<nav class="main-footer__nav">
					<ul class="main-footer__nav-container">
						<li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">Home</a></li>
						<li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">Blog</a></li>
						<li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">About</a></li>
						<li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">Contact</a></li>
					</ul>
				</nav>
			</div>

			<div class="main-footer__column-3">

				<h3 class="main-footer__heading">Latest posts</h3>
				<div class="main-footer__article-container">

					<article class="main-footer__article">
						<div class="main-footer__article-photo" style="background-image:url(images/houses.jpg)"></div>
						<div class="main-footer__article-info">
							<small class="main-footer__article-date">March 26, 2018</small>
							<h1 class="main-footer__article-heading">How to Choose the Right Homeowners Insurance</h1>
						</div>
					</article>

					<article class="main-footer__article">
						<div class="main-footer__article-photo" style="background-image:url(images/houses.jpg)"></div>
						<div class="main-footer__article-info">
							<small class="main-footer__article-date">March 26, 2018</small>
							<h1 class="main-footer__article-heading">How to Choose the Right Homeowners Insurance</h1>
						</div>

					</article>


					<article class="main-footer__article">
						<div class="main-footer__article-photo" style="background-image:url(images/houses.jpg)"></div>
						<div class="main-footer__article-info">
							<small class="main-footer__article-date">March 26, 2018</small>
							<h1 class="main-footer__article-heading">How to Choose the Right Homeowners Insurance</h1>
						</div>
					</article>



				</div>

			</div>

			<div class="main-footer__column-4">
				<h3 class="main-footer__heading">Latest posts</h3>
				<div class="main-footer__social">
					<a href="#" class="main-footer__social-link">
						<img src="images/in.png" alt="Instagram" title="Instagram" class="main-footer__social-icon">
					</a>
					<a href="#" class="main-footer__social-link">
						<img src="images/tw.png" alt="Twitter" title="Twitter" class="main-footer__social-icon">
					</a>
					<a href="#" class="main-footer__social-link">
						<img src="images/fb.png" alt="Facebook" title="Facebook" class="main-footer__social-icon">
					</a>
					<a href="#" class="main-footer__social-link">
						<img src="images/ink.png" alt="LinkedIN" title="LinkedIN" class="main-footer__social-icon">
					</a>
				</div>
			</div>

		</div>

	</footer>
	<!--
				Blog
	-->

</div>

<%- include('./partials/footer') -%>
