<%- include('./partials/header') -%>

<div class="body">

	<!--
				Blog
	-->

	<header class="main-header">
		<div class="container">
			<!--  .main-header__column-1 * START  -->
			<div class="main-header__column-1">
				<div class="main-logo">
					<a href="" class="main-logo__link">
						<img src="images/logo.png" alt="Gr8Rates4U" title="Gr8Rates4U" class="main-logo__image">
					</a>
				</div>
			</div>
			<!--  .main-header__column-1 * END  -->

			<!--  .main-header__column-2 * START  -->
			<div class="main-header__column-2">
				<nav class="menu-main">
					<!-- Hidden on desktop and visible on mobile * START-->
					<!--Always hidden--><h2 class="screen-reader-text accessibility-hide">Menu</h2><!--Always hidden-->

					<button class="menu-main__toggle">
						<div class="menu-main__hamburguer">
							<span class="accessibility-hide">btn menu</span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</button>
					<!-- Hidden on desktop and visible on mobile * END-->

					<ul class="menu-main__list" tabindex="-1">
				    <li class="menu-main__item active"><a class="menu-main__link" href="#">Home</a></li>
				    <li class="menu-main__item"><a class="menu-main__link" href="#">Blog</a></li>
				    <li class="menu-main__item"><a class="menu-main__link" href="#">About</a></li>
				    <li class="menu-main__item"><a class="menu-main__link" href="#">Contact</a></li>
				  </ul>
				</nav>
			</div>
			<!--  .main-header__column-2 * END  -->
		</div>


	</header>

	<section class="hero-blog">
		<div class="container-fluid no-padding">
			<!--  .hero-blog__article-info-column * START -->
			<%# <div class="hero-blog__article-info-column">
				<article class="hero-blog__article-info">
					<small class="hero-blog__article-info-category">Featured</small>
					<h1 class="hero-blog__article-info-heading">How to Choose the Right Homeowners Insurance</h1>
					<p class="hero-blog__article-info-subheading">Your home is quite possibly your most valuable asset.</p>
					<a href="#" class="hero-blog__article-info-link">Read More</a>
				</article>
			</div> %>
			<!--  .hero-blog__article-info-column * END -->

			<!--  .hero-blog__article-photo-column * START -->
			<div class="hero-blog__article-photo-column " style="background-image:url(images/houses.jpg)">

			</div>
			<!--  .hero-blog__article-photo-column * END -->
		</div>

	</section>

	<section class="main-content">

		<div class="container main-content__container">

			<!-- ARTICLE CARDS * START-->
			<article class="article-card article-card--big">

				<div class="article-card__photo-container" style="background-image:url(images/houses.jpg)">
				</div>

				<div class="article-card__info-container">
					<small class="article-card__info-date">March 26, 2018</small>
					<h1 class="article-card__info-heading">How to Choose the Right Homeowners Insurance</h1>
					<p class="article-card__info-subheading">Your home is quite possibly your most valuable asset.</p>
					<a href="#" class="article-card__info-link">Read More</a>
				</div>

			</article>
			<!-- ARTICLE CARDS * END-->
			<!-- ARTICLE CARDS * START-->
			<article class="article-card article-card--big">

				<div class="article-card__photo-container" style="background-image:url(images/houses.jpg)">
				</div>

				<div class="article-card__info-container">
					<small class="article-card__info-date">March 26, 2018</small>
					<h1 class="article-card__info-heading">How to Choose the Right Homeowners Insurance</h1>
					<p class="article-card__info-subheading">Your home is quite possibly your most valuable asset.</p>
					<a href="#" class="article-card__info-link">Read More</a>
				</div>

			</article>
			<!-- ARTICLE CARDS * END-->
			<!-- ARTICLE CARDS * START-->
			<article class="article-card ">

				<div class="article-card__photo-container" style="background-image:url(images/houses.jpg)">
				</div>

				<div class="article-card__info-container">
					<small class="article-card__info-date">March 26, 2018</small>
					<h1 class="article-card__info-heading">How to Choose the Right Homeowners Insurance</h1>
					<p class="article-card__info-subheading">Your home is quite possibly your most valuable asset.</p>
					<a href="#" class="article-card__info-link">Read More</a>
				</div>

			</article>
			<!-- ARTICLE CARDS * END-->
			<!-- ARTICLE CARDS * START-->
			<article class="article-card ">

				<div class="article-card__photo-container" style="background-image:url(images/houses.jpg)">
				</div>

				<div class="article-card__info-container">
					<small class="article-card__info-date">March 26, 2018</small>
					<h1 class="article-card__info-heading">How to Choose the Right Homeowners Insurance</h1>
					<p class="article-card__info-subheading">Your home is quite possibly your most valuable asset.</p>
					<a href="#" class="article-card__info-link">Read More</a>
				</div>

			</article>
			<!-- ARTICLE CARDS * END-->
			<!-- ARTICLE CARDS * START-->
			<article class="article-card ">

				<div class="article-card__photo-container" style="background-image:url(images/houses.jpg)">
				</div>

				<div class="article-card__info-container">
					<small class="article-card__info-date">March 26, 2018</small>
					<h1 class="article-card__info-heading">How to Choose the Right Homeowners Insurance</h1>
					<p class="article-card__info-subheading">Your home is quite possibly your most valuable asset.</p>
					<a href="#" class="article-card__info-link">Read More</a>
				</div>

			</article>
			<!-- ARTICLE CARDS * END-->




		</div>
		<div class="container">
			<div class="blog-pagination">
				<a href="" class="blog-pagination__new-posts">Newer Posts</a>
				<ul class="blog-pagination__page-container">
					<li class="blog-pagination__page-item"><a href="#" class="blog-pagination__page-link blog-pagination__page-link--active">1</a></li>
					<li class="blog-pagination__page-item"><a href="#" class="blog-pagination__page-link">2</a></li>
					<li class="blog-pagination__page-item"><a href="#" class="blog-pagination__page-link">3</a></li>
					<li class="blog-pagination__page-item"><a href="#" class="blog-pagination__page-link">4</a></li>
				</ul>
				<a href="" class="blog-pagination__old-posts">Older Posts</a>
			</div>
		</div>

	</section>

	<footer class="main-footer">

		<div class="container main-footer__container">

			<div class="main-footer__column-1">
				<img src="images/logo-2.png" alt="Gr8Rates4U.com" class="main-footer__logo">
				<p class="main-footer__p">14050 NW 14th St. Suite #100 Sunrise, FL 33323</p>
				<p class="main-footer__p">1 (866) 711-9711</p>
			</div>

			<div class="main-footer__column-2">

				<h3 class="main-footer__heading">Useful Links</h3>

				<nav class="main-footer__nav">
					<ul class="main-footer__nav-container">
						<li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">Home</a></li>
						<li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">Blog</a></li>
						<li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">About</a></li>
						<li class="main-footer__nav-item"><a href="#" class="main-footer__nav-link">Contact</a></li>
					</ul>
				</nav>
			</div>

			<div class="main-footer__column-3">

				<h3 class="main-footer__heading">Latest posts</h3>
				<div class="main-footer__article-container">

					<article class="main-footer__article">
						<div class="main-footer__article-photo" style="background-image:url(images/houses.jpg)"></div>
						<div class="main-footer__article-info">
							<small class="main-footer__article-date">March 26, 2018</small>
							<h1 class="main-footer__article-heading">How to Choose the Right Homeowners Insurance</h1>
						</div>
					</article>

					<article class="main-footer__article">
						<div class="main-footer__article-photo" style="background-image:url(images/houses.jpg)"></div>
						<div class="main-footer__article-info">
							<small class="main-footer__article-date">March 26, 2018</small>
							<h1 class="main-footer__article-heading">How to Choose the Right Homeowners Insurance</h1>
						</div>

					</article>


					<article class="main-footer__article">
						<div class="main-footer__article-photo" style="background-image:url(images/houses.jpg)"></div>
						<div class="main-footer__article-info">
							<small class="main-footer__article-date">March 26, 2018</small>
							<h1 class="main-footer__article-heading">How to Choose the Right Homeowners Insurance</h1>
						</div>
					</article>



				</div>

			</div>

			<div class="main-footer__column-4">
				<h3 class="main-footer__heading">Latest posts</h3>
				<div class="main-footer__social">
					<a href="#" class="main-footer__social-link">
						<img src="images/in.png" alt="Instagram" title="Instagram" class="main-footer__social-icon">
					</a>
					<a href="#" class="main-footer__social-link">
						<img src="images/tw.png" alt="Twitter" title="Twitter" class="main-footer__social-icon">
					</a>
					<a href="#" class="main-footer__social-link">
						<img src="images/fb.png" alt="Facebook" title="Facebook" class="main-footer__social-icon">
					</a>
					<a href="#" class="main-footer__social-link">
						<img src="images/ink.png" alt="LinkedIN" title="LinkedIN" class="main-footer__social-icon">
					</a>
				</div>
			</div>

		</div>

	</footer>
	<!--
				Blog
	-->

</div>

<%- include('./partials/footer') -%>
