<div class="modal" id="modal-disclaimer">
  <div class="modal-contant">
    <button type="button" name="button" class="modal-close"> <span class="accessibility-hide">Close</span></button>
    <h3 class="modal-title">Disclaimer</h3>
    <div class="modal-body">
      <p>
        *Insure-Link is an independent insurance agency operating as Great Rates For You.. Coverage explanations and scenarios are hypothetical and not guarantees of coverage. A quote on the Great Rates For You website is not a binding agreement. Coverage cannot
        be bound via submission of information on the Great Rates for You website as such information does not constitute a complete application for insurance. No binder, insurance policy, change, addition and/or deletion to your insurance coverage goes
        into effect unless and until a complete application for insurance is submitted to, and accepted by, an insurance company and confirmed to you directly by a licensed insurance agent. Coverage may not be available in all states. All coverages are
        subject to the terms, conditions and exclusions of the actual policy issued. Statements on this website as to policies, coverages, and other content provide general information only and we provide no warranty as to their accuracy. You should consult
        with a licensed insurance agent as to how these coverages pertain to your individual situation.</p>
    </div>
  </div>
</div>

<div class="main-container">

  <section class="section-top">

    <header class="header">

      <nav class="menu-main">
        <h2 class="screen-reader-text">Menu</h2>
        <button class="menu-main__toggle">
  				<div class="menu-main__hamburguer"></div>
  			</button>
        <ul class="menu-main__list" tabindex="-1">
          <li class="menu-main__item"><a class="menu-main__link" href="#">Home</a></li>
          <li class="menu-main__item"><a class="menu-main__link" href="#">Blog</a></li>
          <li class="menu-main__item"><a class="menu-main__link" href="#">About</a></li>
          <li class="menu-main__item"><a class="menu-main__link" href="#">Contact <img src="" alt=""></a></li>
        </ul>
      </nav>



    </header>

    <div class="hero">
      <nav class="menu-language">

        <h2 class="screen-reader-text accessibility-hide">Available translations of the current page</h2>

        <ul class="menu-language__list">

          <li class="menu-language__item">
            <a href="#" class="menu-language__link change-lang" data-lang="en" title="English">En</a>
          </li>

          <li class="menu-language__item">
            <a href="#" class="menu-language__link active change-lang" data-lang="es" title="Spanish">Spa</a>
          </li>

        </ul>
      </nav>
      <div class="hero__container">
        <a href="#" class="hero__logoLink">
  				<img src="images/logo-white.png" alt="Go to Homepage" class="hero__logoImg">
  			</a>
        <h1 class="hero__heading change-lang-item" data-es="Citas rápidas, ahorros rápidos" data-en="Quick quotes, quick savings"></h1>
      </div>
    </div>


  </section>
  <section class="section-main">
    <div class="form-house-details">
      <nav class="menu-language">

        <h2 class="screen-reader-text accessibility-hide">Available translations of the current page</h2>

        <ul class="menu-language__list">

          <li class="menu-language__item">
            <a href="#" class="menu-language__link change-lang" data-lang="en" title="English">En</a>
          </li>

          <li class="menu-language__item">
            <a href="#" class="menu-language__link active change-lang" data-lang="es" title="Spanish">Spa</a>
          </li>

        </ul>
      </nav>
      <div class="form-house-details__container">
        <div class="steps-form-container">
          <div class="steps-form-item active" id="tell-us-about-your-home">
            <h2 class="form-house-details__title">
      				<img src="images\icons8-house-80.png" alt="Tell us about your home">
      				<span>Tell us about your home</span>
      			</h2>

            <div class="form-container">
              <div class="input-group">
                <label for="user-county" class="form-house-details__label change-lang-item" data-es="¿En cual Estado Vives?" data-en="What County do you Live in?" ></label>
                <select id="user-county" name="select" class="form-house-details__select no-empty no-empty">
          				<option disabled selected class="change-lang-item" data-es="Selecciona el estado..." data-en="Select Your County..."></option>
          				<option value="1">County 1</option>
          				<option value="2">County 2</option>
          			</select>
                <p>Error</p>
              </div>
              <div class="input-group">
                <label for="house-value" class="form-house-details__label">What is your home valued at?</label>
                <select id="house-value" name="house-value" class="form-house-details__select no-empty">
          				<option disabled selected>Select range...</option>
          				<option value="1">Range 1</option>
          				<option value="2">Range 2</option>
          			</select>
              </div>
              <div class="input-group">
                <label for="house-value" class="form-house-details__label">What year was your home built?</label>
                <select id="house-value" name="house-value" class="form-house-details__select no-empty">
          				<option disabled selected>Select year...</option>
          				<option value="1">Year 1</option>
          				<option value="2">Year 2</option>
          			</select>
              </div>
              <div class="input-group">
                <label for="house-value" class="form-house-details__label">What type of construction is your home?</label>
                <select id="house-value" name="house-value" class="form-house-details__select no-empty">
          				<option disabled selected>Select Type...</option>
          				<option value="1">Type 1</option>
          				<option value="2">Type 2</option>
          			</select>
              </div>
              <div class="input-group">
                <label for="house-value" class="form-house-details__label change-lang-item" data-es="Cual es tu Zip Code?" data-en="What is your Zip Code?"></label>
                <input type="text" class="form-house-details__input zip change-lang-item" data-es="Cual es tu Zip Code?" data-en="What is your Zip Code?" placeholder="Your Zip Code" name="" value="">
              </div>
              <div class="input-group m-b-32">
                <label for="house-value" class="form-house-details__label">Does your home any of the following?</label>
                <div class="row m-t-8">
                  <div class="col-6">
                    <label class="Custom-checkbox" >
                    <span class="change-lang-item" data-es="Cerrojos" data-en="Deadbolts">Deadbolts</span>
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>
                    <label class="Custom-checkbox">
                    <span>Fire Extinguisher</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                    <label class="Custom-checkbox">
                    <span>Security Alarm</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                    <label class="Custom-checkbox">
                    <span>Smoke Detectors</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  </div>
                  <div class="col-6">
                    <label class="Custom-checkbox">
                    <span>Hurricane Shutters</span>
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>
                    <label class="Custom-checkbox">
                    <span>Impact Windows</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                    <label class="Custom-checkbox">
                    <span>Gated Community</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                    <label class="Custom-checkbox">
                    <span>New Roof</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  </div>
                </div>
              </div>
              <button type="button" name="button" class="btn sendForm" data-target = "#tell-us-about-your-home" data-nextwindow="#almost-there" data-action="https://www.bohemica.io">Send it!</button>
            </div>
          </div>
          <div class="steps-form-item" id="almost-there">
            <h2 class="form-house-details__title">
              <img src="images\person-1.png" alt="Tell us about your home">
              Almost there…
              <small>Please complete the following fields to finalize the process.</small>
            </h2>

            <div class="form-container">

              <div class="input-group required">
                <label for="house-value" class="form-house-details__label">Name</label>
                <input type="text" class="form-house-details__input no-empty" placeholder="Type your name..." name="" value="">
              </div>

              <div class="input-group required">
                <label for="house-value" class="form-house-details__label" requiry>E-mail</label>
                <input type="text" class="form-house-details__input email" placeholder="Type your E-mail..." name="" value="">
              </div>
              <div class="input-group p-b-32">
                <label for="house-value" class="form-house-details__label">Who referred you?</label>
                <input type="text" class="form-house-details__input" placeholder="Type your E-mail code..." name="" value="">
              </div>
              <button type="button" name="button" class="btn sendForm" data-target = "#almost-there" data-nextwindow="#your-rates" data-action="https://www.bohemica.io">Send it!</button>
            </div>
          </div>
          <div class="steps-form-item" id="your-rates">
            <h2 class="form-house-details__title">
              <img src="images\icon-rates.png" alt="Tell us about your home">
              Your Rates
              <small>Based on the information you provided, here are your Great Rates:</small>
            </h2>

            <div class="form-container">

              <ul class="company-list m-b-32">
                <li class="company-list-item">
                  <span>Company 1</span>
                  <span>$940</span>
                  <span>
                    <label class="Custom-checkbox">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  </span>
                </li>
                <li class="company-list-item">
                  <span>Company 2</span>
                  <span>$3,688</span>
                  <span>
                    <label class="Custom-checkbox">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  </span>
                </li>
                <li class="company-list-item">
                  <span>Company 3</span>
                  <span>$3,712</span>
                  <span>
                    <label class="Custom-checkbox">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  </span>
                </li>
                <li class="company-list-item">
                  <span>Company 4</span>
                  <span>$4,526</span>
                  <span>
                    <label class="Custom-checkbox">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  </span>
                </li>
                <li class="company-list-item">
                  <span>Company 5</span>
                  <span>$4,673</span>
                  <span>
                    <label class="Custom-checkbox">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  </span>
                </li>
                <li class="company-list-item">
                  <span>Company 6</span>
                  <span>$5,590</span>
                  <span>
                    <label class="Custom-checkbox">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  </span>
                </li>
                <li class="company-list-item">
                  <span>Company 7</span>
                  <span>$6,250</span>
                  <span>
                    <label class="Custom-checkbox">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  </span>
                </li>
              </ul>

              <p class="general-p m-b-32">Check the rates you are interested in and press select.</p>
              <button type="button" name="button" class="btn sendForm" data-target = "#your-rates" data-nextwindow="#thanks-you" data-action="https://www.bohemica.io">Select</button>
            </div>
          </div>
          <div class="steps-form-item" id="thanks-you">
            <h2 class="form-house-details__title big">
              Thank You!
              <small>In order to verify your email address, please check your email and click on the link we provided.</small>
            </h2>
          </div>
          <div class="steps-form-item" id="loading">
            <h2 class="form-house-details__title big">
              Loading....
            </h2>
          </div>
        </div>
        <div class="form-footer-main-menu">
          <ul class="form-footer-main__list" tabindex="-1">
            <li class="form-footer-main__item"><a class="form-footer-main__link" href="#">Home</a></li>
            <li class="form-footer-main__item"><a class="form-footer-main__link" href="#">Blog</a></li>
            <li class="form-footer-main__item"><a class="form-footer-main__link" href="#">About</a></li>
            <li class="form-footer-main__item"><a class="form-footer-main__link" href="#">Contact <img src="" alt=""></a></li>
          </ul>
        </div>

        <div class="disclaimer-container">
          <button type="button" name="button" class="disclaimer-btn show-modal" data-target="#modal-disclaimer" data-width="632px" data-height="402px">Disclaimer</button>
        </div>

      </div>
    </div>

  </section>
</div>
