<div class="modal" id="modal-disclaimer">
  <div class="modal-contant">
    <button type="button" name="button" class="modal-close"> <span class="accessibility-hide">Close</span></button>
    <h3 class="modal-title">Disclaimer</h3>
    <div class="modal-body">
      <p>
        *Insure-Link is an independent insurance agency operating as Great Rates For You.. Coverage explanations and scenarios are hypothetical and not guarantees of coverage. A quote on the Great Rates For You website is not a binding agreement. Coverage cannot
        be bound via submission of information on the Great Rates for You website as such information does not constitute a complete application for insurance. No binder, insurance policy, change, addition and/or deletion to your insurance coverage goes
        into effect unless and until a complete application for insurance is submitted to, and accepted by, an insurance company and confirmed to you directly by a licensed insurance agent. Coverage may not be available in all states. All coverages are
        subject to the terms, conditions and exclusions of the actual policy issued. Statements on this website as to policies, coverages, and other content provide general information only and we provide no warranty as to their accuracy. You should consult
        with a licensed insurance agent as to how these coverages pertain to your individual situation.</p>
    </div>
  </div>
</div>

<div class="main-container" id="app">

  <section class="section-top">

    <header class="header">

      <nav class="menu-main">
        <!-- Hidden on desktop and visible on mobile * START-->
        <!--Always hidden--><h2 class="screen-reader-text accessibility-hide">Menu</h2><!--Always hidden-->

        <button class="menu-main__toggle">
          <div class="menu-main__hamburguer">
            <span class="accessibility-hide">btn menu</span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
        <!-- Hidden on desktop and visible on mobile * END-->
        <ul class="menu-main__list" tabindex="-1">
          <li class="menu-main__item"><a class="menu-main__link" href="#">Home</a></li>
          <li class="menu-main__item"><a class="menu-main__link" href="#">Blog</a></li>
          <li class="menu-main__item"><a class="menu-main__link" href="#">About</a></li>
          <li class="menu-main__item"><a class="menu-main__link" href="#">Contact <img src="" alt=""></a></li>
        </ul>
      </nav>

    </header>

    <div class="hero">
      <nav class="menu-language">

        <h2 class="screen-reader-text accessibility-hide">Available translations of the current page</h2>

        <ul class="menu-language__list">

          <li class="menu-language__item">
            <a href="#" class="menu-language__link change-lang" data-lang="en" title="English">En</a>
          </li>

          <li class="menu-language__item">
            <a href="#" class="menu-language__link active change-lang" data-lang="es" title="Spanish">Spa</a>
          </li>

        </ul>
      </nav>
      <div class="hero__container">
        <a href="#" class="hero__logoLink">
  				<img src="images/logo-white.png" alt="Go to Homepage" class="hero__logoImg">
  			</a>
        <h1 class="hero__heading change-lang-item" data-es="Citas rápidas, ahorros rápidos" data-en="Quick quotes, quick savings"></h1>
      </div>
    </div>

  </section>
  <section class="section-main">
    <div class="form-house-details">
      <nav class="menu-language">

        <h2 class="screen-reader-text accessibility-hide">Available translations of the current page</h2>

        <ul class="menu-language__list">

          <li class="menu-language__item">
            <a href="#" class="menu-language__link change-lang" data-lang="en" title="English">En</a>
          </li>

          <li class="menu-language__item">
            <a href="#" class="menu-language__link active change-lang" data-lang="es" title="Spanish">Spa</a>
          </li>

        </ul>
      </nav>
      <div class="form-house-details__container" @click="searchChange">
        <div class="steps-form-container">
          <div class="steps-form-item active" id="tell-us-about-your-home">
            <h2 class="form-house-details__title">
      				<img src="images/icons8-house-80.png" alt="Tell us about your home">
      				Tell us about your home
      			</h2>






            <div class="form-container" >
              <div class="input-group">
                <label for="user-county" class="form-house-details__label change-lang-item" data-es="¿En cuál condado vives?" data-en="What county do you live in?" ></label>
                <select id="user-county" name="CountryId" class="form-house-details__select no-empty no-empty">
          				<option disabled selected class="change-lang-item" data-es="Selecciona el condado..." data-en="Select your county..."></option>
          				<option v-for="CountiesItem in Counties" :value="CountiesItem.Id">{{CountiesItem.Description}}</option>
          			</select>
                <p class="change-lang-item" data-es="Favor selecciona tu condado" data-en="Please select your county">Error</p>
              </div>
              <div class="input-group">
                <label for="house-value" class="form-house-details__label change-lang-item" data-es="¿Cuál es el valor estimado de su vivienda?" data-en="What is your home valued at?"></label>
                <select id="house-value" name="HomeValueId" class="form-house-details__select no-empty">
          				<option disabled selected class="change-lang-item" data-es="Selecciona un rango..." data-en="Select range...">Select range...</option>
          				<option v-for="HomeValuesItem in HomeValues" :value="HomeValuesItem.Id">{{HomeValuesItem.Description}}</option>
          			</select>
                <p class="change-lang-item" data-es="Favor selecciona un rango de valor" data-en="Please select a value range">Error</p>
              </div>
              <div class="input-group">
                <label for="house-value" class="form-house-details__label change-lang-item" data-es="¿En qué año fué construida?" data-en="What year was your home built?">What year was your home built?</label>
                <select id="house-value" name="YearBuild" class="form-house-details__select no-empty">
          				<option disabled selected class="change-lang-item" data-es="Seleccione año..." data-en="Select year...">Select year...</option>
          				<option v-for="YearsItem in Years" :value="YearsItem.Id">{{YearsItem.Description}}</option>
          			</select>
                <p class="change-lang-item" data-es="Favor seleccionar el año" data-en="Please select a year">Error</p>
              </div>
              <div class="input-group">
                <label for="house-value" class="form-house-details__label change-lang-item" data-es="¿Qué tipo de construcción?" data-en="What type of construction is your home?">What type of construction is your home?</label>
                <select id="house-value" name="ConstructionTypeId" class="form-house-details__select no-empty">
          				<option disabled selected class="change-lang-item" data-es="Seleccione tipo..." data-en="Select Type...">Select Type...</option>
          				<option v-for="ConstructionTypeItem in ConstructionType" :value="ConstructionTypeItem.Id">{{ConstructionTypeItem.Description}}</option>
          			</select>
                <p class="change-lang-item" data-es="Favor elige todas las que apliquen" data-en="Please select all that apply">Error</p>
              </div>
              <div class="input-group">
                <label for="house-value" class="form-house-details__label change-lang-item" data-es="¿Cuál es tu código de area?" data-en="What is your zip code?"></label>
                <input type="text" name="ZipCode" class="form-house-details__select no-empty change-lang-item" data-es="Seleccione el Zip code..." data-en="Select the Zip code..." placeholder="" ref="searchvalue" @keyup="searchF()"  class="SearchInput">
                <ul class="zipCodeResult">
                  <li class="zipCodeResultItem" v-for="ZipCodesItem in ZipCodesSearch" :value="ZipCodesItem.Id" @click="selectedZipcode(ZipCodesItem.Id)">{{ZipCodesItem.Description}}</li>
                </ul>
                <p class="change-lang-item" data-es="Favor digitar un código zip válido" data-en="Please type a valid zip code">Error</p>
            </div>
              <div class="input-group m-b-32">
                <label for="house-value" class="form-house-details__label change-lang-item" data-es="Selecciones los artículos con lo que su casa cuenta:" data-en="Does your home have any of the following?">Does your home have any of the following?</label>
                <div class="row m-t-8">

                  <div class="col-6" v-for="DiscountItem in DiscountItems ">
                    <label class="Custom-checkbox" >
                    <span>{{DiscountItem.Description}}</span>
                    <input type="checkbox" name="DiscountsId" :value="DiscountItem.Id">
                    <span class="checkmark"></span>
                  </label>
                  </div>

                </div>
              </div>
              <div class="input-group">
                  <div  class="m-b-32 g-recaptcha"  data-sitekey="6LcVrk0UAAAAAB34kAUwLYQ1PrfGrnUNg76LdfwY" data-callback="verifyCallback"></div>
                  <p class="change-lang-item" data-es="Debe validar el  recaptcha" data-en="You must validate the recaptcha">Error</p>
               </div>

              <button type="button" name="button" class="btn sendForm change-lang-item" data-es="Enviar!" data-en="Send it!" data-target="#tell-us-about-your-home" data-nextwindow="#almost-there" data-action="false">Send it!</button>
            </div>
          </div>
          <div class="steps-form-item" id="almost-there">
            <h2 class="form-house-details__title">
              <img src="images/person-1.png" alt="Tell us about your home">
              <span class="change-lang-item" data-es="Ya falta poco..." data-en="Almost there...">Almost there…</span>
              <small class="change-lang-item" data-es="Por favor completa los siguiente detalles para finalizar el proceso." data-en="Please complete the following fields to finalize the process.">Please complete the following fields to finalize the process.</small>
            </h2>

            <div class="form-container">

              <div class="input-group required">
                <label for="house-value" class="form-house-details__label change-lang-item" data-es="Nombre" data-en="Name">Name</label>
                <input type="text" class="form-house-details__input no-empty change-lang-item" data-es="Escriba su nombre..." data-en="Type your name..." placeholder="Type your name..." name="Name" value="">
                <p class="change-lang-item" data-es="Favor digitar tu nombre" data-en="Please type in your name">Error</p>
              </div>

              <div class="input-group required">
                <label for="house-value" class="form-house-details__label change-lang-item" data-es="Correo electrónico" data-en="E-mail" requiry>E-mail</label>
                <input type="text" class="form-house-details__input email change-lang-item" data-es="Escriba su correo electrónico..." data-en="Type your E-mail..." placeholder="Type your E-mail..." name="Email" value="">
                <p class="change-lang-item" data-es="Favor digitar una dirección de correo válida" data-en="Please type a valid email address">Error</p>
              </div>
              <div class="input-group p-b-32">
                <label for="house-value" class="form-house-details__label change-lang-item" data-es="¿Quién le refirió?" data-en="Who referred you?">Who referred you?</label>
                <input type="text" class="form-house-details__input change-lang-item" data-es="Escriba su código de referimiento..." data-en="Type your E-mail code..." placeholder="Type your E-mail code..." name="RefersName" value="">
              </div>
              <button type="button" name="button" class="btn sendForm change-lang-item" data-es="Enviar!" data-en="Send it!" data-target="#almost-there" data-nextwindow="#your-rates" data-action="1">Send it!</button>
            </div>
          </div>
          <div class="steps-form-item" id="your-rates">
            <h2 class="form-house-details__title">
              <img src="images/icon-rates.png" alt="Tell us about your home">
              <span class="change-lang-item" data-es="Sus Tarifas" data-en="Your Rates">Your Rates</span>
              <small class="change-lang-item" data-es="Basado en la información provista, estas son sus mejores opciones:" data-en="Based on the information you provided, here are your Great Rates:">Based on the information you provided, here are your Great Rates:</small>
            </h2>

            <div class="form-container">

              <ul class="company-list m-b-32">
                <li class="company-list-item" v-for="(Rate, key) in Rates">
                  <span class="change-lang-item" :data-es="'Compañía '  + (key + 1)" :data-en="'Company ' + (key + 1) "></span>
                  <span>${{Rate.Price}}</span>
                  <span>
                    <label class="Custom-checkbox">
                    <input type="checkbox" :value="Rate.Price" :data-company="Rate.Company" :data-price="Rate.Price">
                    <span class="checkmark"></span>
                  </label>
                  </span>
                </li>

              </ul>

              <p class="general-p m-b-32 change-lang-item" data-es="Seleccione las tarifas que le interesen y luego presiones Seleccionar." data-en="Check the rates you are interested in and press select.">Check the rates you are interested in and press select.</p>
              <button type="button" name="button" class="btn sendForm change-lang-item" data-es="Seleccionar" data-en="Select" data-target = "#your-rates" data-nextwindow="#thanks-you" data-action="2">Select</button>
            </div>
          </div>
          <div class="steps-form-item" id="thanks-you">
              <div class="center-container">
            <h2 class="form-house-details__title big">
              <span class="change-lang-item" data-es="Gracias!" data-en="Thank You!">Thank You!</span>
              <small class="change-lang-item" data-es="Your information was submitted and an Agent will contact you immediately, if you wish to connect now click on the connect now option." data-en="Your information was submitted and an Agent will contact you immediately, if you wish to connect now click on the connect now option.">In order to verify your email address, please check your email and click on the link we provided.</small>
            </h2>
            </div>
          </div>
          <div class="steps-form-item" id="loading">
            <div class="center-container">
                   <h2 class="form-house-details__title big change-lang-item" data-es="Cargando..." data-en="Loading...">
                     Loading....
                   </h2>
              </div>
          </div>
        </div>
        <div class="form-footer-main-menu">
          <ul class="form-footer-main__list" tabindex="-1">
            <li class="form-footer-main__item"><a class="form-footer-main__link" href="#">Home</a></li>
            <li class="form-footer-main__item"><a class="form-footer-main__link" href="#">Blog</a></li>
            <li class="form-footer-main__item"><a class="form-footer-main__link" href="#">About</a></li>
            <li class="form-footer-main__item"><a class="form-footer-main__link" href="#">Contact <img src="" alt=""></a></li>
          </ul>
        </div>

        <div class="disclaimer-container">
          <button type="button" name="button" class="disclaimer-btn show-modal" data-target="#modal-disclaimer" data-width="632px" data-height="402px">Disclaimer</button>
        </div>

      </div>
    </div>

  </section>
</div>
