<%# <footer class="footer">
  <div class="footer__container">
    <nav class="menu-footer">
      <ul class="menu-footer__list" tabindex="-1">
        <li class="menu-footer__item"><a class="menu-footer__link" href="#">Home</a></li>
        <li class="menu-footer__item"><a class="menu-footer__link" href="#">Blog</a></li>
        <li class="menu-footer__item"><a class="menu-footer__link" href="#">About</a></li>
        <li class="menu-footer__item"><a class="menu-footer__link" href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</footer> %>
    <%- include('./script') -%>
  </body>
</html>
