<!DOCTYPE html>
<html class="lang-html" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="icon" href="images/favicon.ico">
    <title>Bohemica</title>
    <%- include('./styles') -%>
  </head>
  <body>
    <!-- <div class="header">
      <div class="container margin-leftright-56">
        <%- include('../utils/logo') -%>
      </div>
    </div> -->
